<%content_for :title, "About"%>
<h1 class="block title is-3 mt-5 has-text-centered">About Page</h1>
<%# Project overview %>
<p class="block ml-5">This project utilizies the "Subjects", "Work & Edition", & "Authors" APIs from OpenLibrary's Index of APIS to create a navigable and searchable index of
horror, fantasy, romance, poetry, and thriller books.</p>
<div class="content">
  <ul>
    <%# Subjects API %>
    <li class="block is-family-code">Subjects API - This API is used to fetch data from books that belong to a specific subject/genre.
    It returns the "title", "first_publish_year", "edition_count", "cover_id", "author_key" and "work_key" of each book.</li>
    <%# Work & Edition API %>
    <li class="block is-family-code">Work & Edition API - This API is used to fetch the description of each book since it is not available in the "Subjects API" response.
    It takes the "work_key" from the "Subjects API" response to make a JSON request to the "Work & Edition API" and returns the
    description of each book.
    </li>
    <%# Authors API %>
    <li class="block is-family-code">Authors API - This API is used to fetch data for the author of each book. It takes the "author_key" from the "Subjects API" response to make
      a JSON request to the "Authors API" and returns the "name" and "bio" of each author.
    </li>
  </ul>
</div>
<section class="section is-small has-text-centered">
  <p class="block title">The ERD of the Project:</p>
  <img src="/railsintroERD.png" alt="Intro To Rails Project ERD">
</section>